.idea
__pycache__
.DS_Store
/checkpoints
/output
/imagenet
final_runner_1.ipynb
final_runner_2.ipynb
final_runner_3.ipynb
runner-ps.ipynb
runner-swap.ipynb
runner-swap2.ipynb
runner.ipynb
/dvit/pretrained
/dvit/logs
/dvit/imgs
/dvit/figs
.ipynb_checkpoints
/scripts
